@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
	font: 16px/26px 'Droid Sans', sans-serif;
	line-height: 2em;
	text-align: center;
	background-color: white;
}

h1, h2, h3, h4, h5 {
	font-weight: bolder;
}

.accented-text {
	color: #ec116d;
}

div#top-tag {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2em;
	background-color: black;
	color: white;
	cursor: pointer;
}

a#top {
	position: absolute;
	top: 0;
}

ul.unpadded {
	padding: none;
	list-style-type: none;
}

ul.unpadded li {
	margin-left: 0;
}

header, .main-container {
	padding: 0 1em;
	width: 100%;
}

header {
	position: relative;
	padding-top: 6em; /* > top tab height */
}

header hr#mobile-divider {
}

footer {
	margin-top: 10vh;
	background-color: black;
	color: white;
	width: 100%;
	padding: 1em;
	padding-bottom: 10vh;
}

a, a:visited, a:hover, a:active {
	color: #ec116d;
}

article {
	margin: 0 auto;
}

article + article {
	margin-top: 5em;
}

section + section {
	margin-top: 5em;
}

section footer {
	margin: 0 auto;
}

header {
	margin: 3em auto;
}

div.pricing-row {

}

div.pricing-row div.col {
	margin: 0.5em 0.5em;
	padding: 0.5em 1em;
	border: 1px solid black;
}

div.team-detail {
	display: none;
}

div.team-detail div.team-member img.propic {
	width: 90%;
	border-radius: 50%;
	max-height: 5em;
	width: auto;
}


ul {
	list-style-type: none;
	padding: 0;
}

div#icon img {
	margin-top: 2em;
	max-height: 5em;
}

ul li:before {
	content: "> ";
}