div#top-tag {
	position: fixed;
	top: 0;
	left: 0;
	right: auto;
	display: inline;
}

div.main-container {
	margin: 1em auto;
	width: 75%;
	max-width: 800;
}

div.pricing-row div.col {
	display: inline-table;
	max-width: 30%;
}

div.team-detail div.team-member {
	display: inline-table;
	max-width: 30%;
}

div.col.sml-height {
	padding-bottom: 1em !important;
}

div.col.med-height {
	padding-bottom: 3em !important;
}

div.col.max-height{
	padding-bottom: 9em !important;
}

div.team-detail {
	display: block;
	margin-bottom: 2em;
}

div.team-detail div.team-member {
	margin: 0.5em 0.5em;
	padding: 0 1em;
	width: 20%;
}

div.team-detail div.team-member img.propic {
	display: inline-block;
	border-radius: 50%;
}

div.team-member .team-member-name {
	text-transform: uppercase;
}